@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
@import "bootstrap.min.css";
@import "font-awesome.css";
* {
	font-family: 'Roboto', Arial, Helvetica;
	font-weight: 300;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* CSS General */
body {
	font-size: 14px;
	color: #666;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #f9f9f9;
}
body > .row {
	margin: 0;
}
a {
	cursor: pointer;
}
img {
	max-width: 100%;
	max-height: 100%;
}
textarea,
input {
	padding: 5px 10px;
	border-radius: 3px;
}
textarea,
input[type="text"],
input[type="password"] {
	border: 1px solid #eceeef;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus {
	border-color: #ce523c;
}
.button, button,
input[type="button"],
input[type="submit"] {
	color: #fff;
    background-color: #febc1f;
	border: none;
}

/* Login */
.logoLogin {
	margin-top: 40px;
	margin-bottom: 30px;
}
.login {
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: #fff;
	border: 1px solid #eee;
	border-radius: 3px;
	box-shadow: 0 2px 3px rgba(0,0,0,.05);
}
.login .message {
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
}
.login .message h4 {
	font-size: 130%;
	font-weight: bold;
	margin: 0;
}
.login .message p {
	margin: 0;
}
.login .inputs {
	position: relative;
	margin: 15px 0;
}
.login .inputs input {
	width: 100%;
	padding: 8px 8px 8px 35px;
}
.login .inputs i {
	position: absolute;
	top: 12px;
	left: 15px;
}
.login input[type="submit"] {
	width: 100%;
}

/* Layout */
nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 56px;
	line-height: 56px;
	padding: 0 15px;
	background: #ce523c;
	border-bottom: 1px solid rgba(0,0,0,.1);
	box-shadow: 0 2px 3px rgba(0,0,0,.2);
	z-index: 1000;
}
nav .btn-menu {
	display: block;
	float: left;
	color: #fff;
	padding: 0 15px;
}
nav .btn-menu > i {
	line-height: 56px;
	font-size: 150%;
}
nav .logo {
	display: inline-block;
	height: 100%;
	padding: 10px;
	margin-left: 10px;
}
.navbar {
	position: relative;
	float: right;
}
.navbar ul {
	position: absolute;
	top: 100%;
	right: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background: #fff;
	box-shadow: 0 2px 4px rgba(0,0,0,.12);
}
.navbar ul li {
	line-height: 100%;
	border-top: 1px solid #e5e5e5;
}
.navbar ul li > a {
	display: block;
	color: #666;
	line-height: 200%;
	padding: 0 15px;
	white-space: nowrap;
}
.navbar ul li > a > i {
	margin-right: 10px;
}
.sidebar {
    position: absolute;
    top: 56px;
    bottom: 0;
	width: 220px;
	background: #fff;
	border-right: 1px solid rgba(0,0,0,.1);
	box-shadow: 0 2px 4px rgba(0,0,0,.12);
    z-index: 999;
}
.sidebar ul {
	list-style-type: none;
	margin: 0;
	padding: 15px 0;
}
.sidebar ul li {
	position: relative;
}
.sidebar ul li > span {
	color: #999;
	font-weight: bold;
	line-height: 200%;
	padding: 0 20px;
	text-transform: uppercase;
}
.sidebar ul li > a {
	display: block;
	color: #666;
	line-height: 250%;
	padding: 0 20px 0 30px;
}
.sidebar ul li > a:hover {
	color: #ce523c;
}
.sidebar ul li > a > i {
	margin-right: 10px;
}
.layout-content {
	position: relative;
	height: 100%;
	padding: 80px 20px 20px 20px;
	margin-left: 220px;
	overflow: auto;
}
.layout-content > h1,
.layout-content > h2 {
	padding: 5px 15px;
	margin: 0 0 15px;
	border: 1px solid rgba(0,0,0,.1);
	border-left: 4px solid #ce523c;
	background: #fff;
    box-shadow: 0 2px 3px rgba(0,0,0,.05);
}
.layout-content > div {
	padding: 15px;
	background: #fff;
	border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 2px 3px rgba(0,0,0,.05);
}
